# Import Libraries

In [1]:
import folium
import os
import glob
import json
import pandas as pd

# Load Example Data

In [2]:
def data_2021():
    data21 = pd.read_csv(r"data\raw_data_Strassenverkehrsunfaelle\AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2021_Datensatz.csv", sep=";", encoding = "ISO-8859-1")
    return data21

def make_cols_lowercase(df):
    """
    This function takes a given dataframe and casts all column names to lowercase.
    
    INPUT
    :dataframe:
    
    OUTPUT
    :dataframe:
    """
    columns = [col.lower() for col in df.columns]
    df.columns = columns
    return df

data21 = data_2021()
data21 = make_cols_lowercase(data21)

In [20]:
#1 - "Mitte"
#2 - "Friedrichshain-Kreuzberg"
#3 - "Pankow"
#4 - "Charlottenburg-Wilmersdorf
#5 - "Spandau"
#6 - "Steglitz-Zehlendorf"
#7 - "Tempelhof-Schöneberg"
#8 - "Neukölln
#9 - "Treptow-Köpenick"
#10 - "Marzahn-Hellersdorf"
#11 - "Lichtenberg"
#12 - "Reinickendorf"

df_borough_accidents = pd.DataFrame({
    "borough_id" : borough_ids_sorted_str,
    "borough_name" : borough_names_sorted,
    "accidents" : data21["bez"].value_counts().sort_index().values
})

df_borough_accidents

   borough_id                borough_name  accidents
0         001                       Mitte       1761
1         002    Friedrichshain-Kreuzberg       1107
2         003                      Pankow       1011
3         004  Charlottenburg-Wilmersdorf       1398
4         005                     Spandau        713
5         006         Steglitz-Zehlendorf        757
6         007        Tempelhof-Schöneberg       1059
7         008                    Neukölln        799
8         009            Treptow-Köpenick        776
9         010         Marzahn-Hellersdorf        538
10        011                 Lichtenberg        619
11        012               Reinickendorf        729

# Map Creation

## Data for overlays

In [19]:
borough_ids_sorted_str = ["001", "002", "003", "004", "005", "006", "007", "008", "009", "010", "011", "012"]
borough_names_sorted = ["Mitte", "Friedrichshain-Kreuzberg", "Pankow", "Charlottenburg-Wilmersdorf", "Spandau",
"Steglitz-Zehlendorf","Tempelhof-Schöneberg","Neukölln","Treptow-Köpenick",
"Marzahn-Hellersdorf","Lichtenberg","Reinickendorf"]
borough_list_overlay = ["Reinickendorf", "Charlottenburg-Wilmersdorf", "Treptow-Köpenick", "Pankow",
                       "Neukölln", "Lichtenberg", "Marzahn-Hellersdorf", "Spandau",
                       "Steglitz-Zehlendorf", "Mitte", "Friedrichshain-Kreuzberg", "Tempelhof-Schöneberg"]
borough_style_dict = {"fillColor": "#6290CB", "color": "#21469F"}

## Each borough overlayed

In [13]:
# Create map object
m1 = folium.Map(location=[52.51772755662563, 13.406154972878294], zoom_start=12)

# Global tooltip
tooltip_hover_marker = "Click for more info!"

# Create markers

marker_Ironhack = folium.Marker([52.532952379348814, 13.45334618603766], 
                                popup = "<strong>IRONHACK</strong>",
                                tooltip = tooltip_hover_marker).add_to(m1)

maker_home = folium.Marker([52.57295915967568, 13.411971082934471],
                           popup = "<strong>Home</strong>",
                           tooltip = tooltip_hover_marker,
                           icon = folium.Icon(icon="home", color="red")).add_to(m1)

# Create overlay
borough_json_files = glob.glob(r"data\geo_data\bezirksgrenzen\single_bezirk_jsons\*.geojson")

for idx,_ in enumerate(borough_json_files):
    borough_overlay = folium.GeoJson(borough_json_files[idx], 
                                     tooltip = borough_list_overlay[idx],
                                     name = borough_list_overlay[idx],
                                     style_function = lambda x:borough_style_dict).add_to(m1)
    
# Save map
m1.save("berlin_boroughs_singles.html")

## All boroughs overlayed

In [28]:
# Create map object
m2 = folium.Map(location=[52.51772755662563, 13.406154972878294], zoom_start=12)

# Global tooltip
tooltip_hover_marker = "Click for more info!"

# Create markers

marker_Ironhack = folium.Marker([52.532952379348814, 13.45334618603766], 
                                popup = "<strong>IRONHACK</strong>",
                                tooltip = tooltip_hover_marker).add_to(m2)

maker_home = folium.Marker([52.57295915967568, 13.411971082934471],
                           popup = "<strong>Home</strong>",
                           tooltip = tooltip_hover_marker,
                           icon = folium.Icon(icon="home", color="red")).add_to(m2)

# Create overlay
boroughs_json_file = r"data\geo_data\bezirksgrenzen\bezirksgrenzen.geojson"

borough_overlay = folium.GeoJson(boroughs_json_file,
                                style_function = lambda x:borough_style_dict,
                                name = "Borough Demarcation").add_to(m2)

# Overlay accident counts per borough
m2.choropleth(
    geo_data = boroughs_json_file,
    name = "Choropleth", 
    data = df_borough_accidents,
    columns = ["borough_id", "accidents"],
    key_on = "feature.properties.Gemeinde_schluessel",
    fill_color = "YlGn",
    fill_opacity = 0.7,
    line_opacity = 0.2,
    legend_name = "Accident Count")

folium.LayerControl().add_to(m2)
    
# Save map
m2.save("berlin_boroughs_all_boroughs.html")

C:\Users\p.kollhof\Anaconda3\envs\DA\lib\site-packages\folium\folium.py:409: FutureWarning: The choropleth  method has been deprecated. Instead use the new Choropleth class, which has the same arguments. See the example notebook 'GeoJSON_and_choropleth' for how to do this.
  warnings.warn(

In [21]:
df_borough_accidents

   borough_id                borough_name  accidents
0         001                       Mitte       1761
1         002    Friedrichshain-Kreuzberg       1107
2         003                      Pankow       1011
3         004  Charlottenburg-Wilmersdorf       1398
4         005                     Spandau        713
5         006         Steglitz-Zehlendorf        757
6         007        Tempelhof-Schöneberg       1059
7         008                    Neukölln        799
8         009            Treptow-Köpenick        776
9         010         Marzahn-Hellersdorf        538
10        011                 Lichtenberg        619
11        012               Reinickendorf        729